# Ignore Nextflow work directories and results
work/
results/
output/
logs/
.nextflow/

# Ignore test folders and files
*.log
*.tmp
*.temp
.nextflow*
report*
sandbox.sh
!resources/king_ref/
resources/king_ref/*
!resources/king_ref/extraction_king_ref.sh
!resources/king_ref/README.md