
profiles {
    apptainer {
        apptainer.enabled = true

        process  {
            container = 'docker://ghcr.io/jacquemontlab/plink2metadata'
        }
    }

    singularity {
        singularity.enabled = true
        
        process  {
            container = 'docker://ghcr.io/jacquemontlab/plink2metadata'
        }
    }

    docker {
        docker.enabled = true

        process  {
            container = 'ghcr.io/jacquemontlab/plink2metadata'
        }
    }


    test {
        executor.name = 'local'
        executor.cpus = 4
        executor.memory = '4G'

         params {
             king_ref = "${projectDir}resources/king_ref/"
             plink_file = "${projectDir}/tests/plink"
        } 
    }
}