manifest {
    name        = 'Plink2SampleMetadata'
    author      = 'Florian Bénitière'
    description = 'This Nextflow pipeline builds a sample metadata table from a PLINK binary dataset by performing sex call rate inference with PLINK, trio inference using KING, principal component analysis (PCA) with a KING reference panel, and merging all results into a single tab-delimited file (sample_metadata_from_plink.tsv).'
    version     = '2.0.0'
}


profiles {
    apptainer {
        apptainer.enabled = true

        process  {
            container = 'docker://ghcr.io/jacquemontlab/plink2metadata'
        }
    }

    singularity {
        singularity.enabled = true
        
        process  {
            container = 'docker://ghcr.io/jacquemontlab/plink2metadata'
        }
    }

    docker {
        docker.enabled = true

        process  {
            container = 'ghcr.io/jacquemontlab/plink2metadata'
        }
    }


    test {
        executor.name = 'local'
        executor.cpus = 4
        executor.memory = '4G'

         params {
             king_ref = "${projectDir}/resources/king_ref/"
             plink_file = "${projectDir}/tests/plink"
             genome_version = "GRCh38"
        } 
    }
}