// nextflow.config

conda {
    enabled = true
    useMamba = false
    autoMounts = true
    channels = ['conda-forge', 'bioconda','default']
}

process {
    executor = 'local'
    cpus     = 64
    memory   = '220G'

    // Limit the number of concurrent processes globally
    maxForks = 1

    withLabel: infer_pca {
        conda = 'conda-forge::polars conda-forge::r-base=3.6 conda-forge::r-doparallel conda-forge::r-ggplot2 conda-forge::r-e1071 bioconda::king bioconda::plink'
    }

    withLabel: infer_sex {
        conda = 'bioconda::plink'
    }

    withLabel: infer_trio {
    conda = 'conda-forge::polars bioconda::king bioconda::plink'
    }

    withLabel: merge_results {
        conda = 'conda-forge::polars'
    }
}